@page "/orderitems/details"
@using Microsoft.EntityFrameworkCore
@using MakanGoFood.Domain
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>OrderItem</h2>
    <hr />
    @if (orderitem is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Quantity</dt>
            <dd class="col-sm-10">@orderitem.Quantity</dd>
            <dt class="col-sm-2">Subtotal</dt>
            <dd class="col-sm-10">@orderitem.Subtotal</dd>
            <dt class="col-sm-2">OrderId</dt>
            <dd class="col-sm-10">@orderitem.OrderId</dd>
            <dt class="col-sm-2">MenuId</dt>
            <dd class="col-sm-10">@orderitem.MenuId</dd>
        </dl>
        <div>
            <a href="@($"/orderitems/edit?orderitemid={orderitem.OrderItemId}")">Edit</a> |
            <a href="@($"/orderitems")">Back to List</a>
        </div>
    }
</div>

@code {
    private OrderItem? orderitem;

    [SupplyParameterFromQuery]
    private int OrderItemId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        orderitem = await context.OrderItem.FirstOrDefaultAsync(m => m.OrderItemId == OrderItemId);

        if (orderitem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
