@page "/addresses/details"
@using Microsoft.EntityFrameworkCore
@using MakanGoFood.Domain
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Address</h2>
    <hr />
    @if (address is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Street</dt>
            <dd class="col-sm-10">@address.Street</dd>
            <dt class="col-sm-2">City</dt>
            <dd class="col-sm-10">@address.City</dd>
            <dt class="col-sm-2">PostalCode</dt>
            <dd class="col-sm-10">@address.PostalCode</dd>
            <dt class="col-sm-2">CustomerId</dt>
            <dd class="col-sm-10">@address.CustomerId</dd>
        </dl>
        <div>
            <a href="@($"/addresses/edit?addressid={address.AddressId}")">Edit</a> |
            <a href="@($"/addresses")">Back to List</a>
        </div>
    }
</div>

@code {
    private Address? address;

    [SupplyParameterFromQuery]
    private int AddressId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        address = await context.Address.FirstOrDefaultAsync(m => m.AddressId == AddressId);

        if (address is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
