@page "/orders/delete"
@using Microsoft.EntityFrameworkCore
@using MakanGoFood.Domain
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Order</h2>
    <hr />
    @if (order is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">OrderDateTime</dt>
            <dd class="col-sm-10">@order.OrderDateTime</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">OrderStatus</dt>
            <dd class="col-sm-10">@order.OrderStatus</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">AddressId</dt>
            <dd class="col-sm-10">@order.AddressId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CustomerId</dt>
            <dd class="col-sm-10">@order.CustomerId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">RiderId</dt>
            <dd class="col-sm-10">@order.RiderId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">RestaurantId</dt>
            <dd class="col-sm-10">@order.RestaurantId</dd>
        </dl>
        <EditForm method="post" Model="order" OnValidSubmit="DeleteOrder" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(order is null)">Delete</button> |
            <a href="/orders">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Order? order;

    [SupplyParameterFromQuery]
    private int OrderId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        order = await context.Order.FirstOrDefaultAsync(m => m.OrderId == OrderId);

        if (order is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteOrder()
    {
        using var context = DbFactory.CreateDbContext();
        context.Order.Remove(order!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/orders");
    }
}
