@page "/orders/details"
@using Microsoft.EntityFrameworkCore
@using MakanGoFood.Domain
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Order</h2>
    <hr />
    @if (order is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">OrderDateTime</dt>
            <dd class="col-sm-10">@order.OrderDateTime</dd>
            <dt class="col-sm-2">OrderStatus</dt>
            <dd class="col-sm-10">@order.OrderStatus</dd>
            <dt class="col-sm-2">AddressId</dt>
            <dd class="col-sm-10">@order.AddressId</dd>
            <dt class="col-sm-2">CustomerId</dt>
            <dd class="col-sm-10">@order.CustomerId</dd>
            <dt class="col-sm-2">RiderId</dt>
            <dd class="col-sm-10">@order.RiderId</dd>
            <dt class="col-sm-2">RestaurantId</dt>
            <dd class="col-sm-10">@order.RestaurantId</dd>
        </dl>
        <div>
            <a href="@($"/orders/edit?orderid={order.OrderId}")">Edit</a> |
            <a href="@($"/orders")">Back to List</a>
        </div>
    }
</div>

@code {
    private Order? order;

    [SupplyParameterFromQuery]
    private int OrderId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        order = await context.Order.FirstOrDefaultAsync(m => m.OrderId == OrderId);

        if (order is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
